<mat-toolbar class="toolbar">
  <div class="container-fluid">
    <div class="w-100 d-flex align-items-center justify-content-between h-100">
      <span class="title">
        {{ 'navigation.aside.overview' | translate }}
      </span>
      <div class="d-flex">
        <span class="days-title mx-2"> 
          {{ 'navigation.dashboard.date.seven_last_days' | translate }}
        </span>
        <div class="date-range d-flex align-items-center">
          <span>6 - 12 dec. 2022</span>
          <span class="material-symbols-outlined">arrow_drop_down</span>
        </div>
        <!-- <app-date-range-picker></app-date-range-picker> -->
        <span class="days-title mx-2"> 
          <button mat-button color="primary">
            {{ 'navigation.dashboard.date.show_last_30_days' | translate }}
          </button>
        </span>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="grid-container m-0 pt-2">
  <div class="mx-3" style="max-width: 230px;">
    <app-adf-btn [matMenuTriggerFor]="menuNewCamp" 
      text="{{ 'campaign.new' | translate }}" 
      class="new-camp-btn" icon="add_notes">
      
    </app-adf-btn>
  </div>
  <mat-menu #menuNewCamp="matMenu" class="mx-3 mt-2 px-0">
    <button mat-menu-item class="d-flex align-items-center" routerLink="/full/campaign/new">
      <span>{{ 'campaign.new' | translate }}</span>
    </button>
    <button mat-menu-item class="d-flex align-items-center">
      <span class="text-nowrap"> Reprendre une campagne brouillon</span>
    </button>
  </mat-menu>
  <mat-grid-list cols="12" rowHeight="420px">
    <div class="container">
      <mat-grid-tile [colspan]="9" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined">ads_click</span>
                <span class="mx-2">{{ 'navigation.dashboard.ads_performance.title' | translate }}</span>
              </div>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="d-flex info-cards w-100">
              <div class="info-card clicks">
                <h5>{{ 'navigation.dashboard.ads_performance.clicks' | translate }}</h5>
                <span class="value">55</span>
                <span class="material-symbols-outlined">ads_click</span>
              </div>
              <div class="info-card nb-camp">
                <h5 class="text-nowrap" matTooltip="{{ 'navigation.dashboard.ads_performance.cond_camps_full' | translate }}">
                  {{ 'navigation.dashboard.ads_performance.cond_camps' | translate }}
                </h5>
                <span class="value">55</span>
                <span class="material-symbols-outlined">numbers</span>
              </div>
              <div class="info-card cpc-moy">
                <h5 matTooltip="{{ 'navigation.dashboard.ads_performance.average_costs_full' | translate }}">
                  {{ 'navigation.dashboard.ads_performance.average_costs' | translate }}
                </h5>
                <span class="value">55</span>
                <span class="material-symbols-outlined">attach_money</span>
              </div>
              <div class="info-card expenses">
                <h5>{{ 'navigation.dashboard.ads_performance.expenses' | translate }}</h5>
                <span class="value">55</span>
                <span class="material-symbols-outlined">attach_money</span>
              </div>
              <div class="info-card solde">
                <h5>{{ 'navigation.dashboard.ads_performance.pay' | translate }}</h5>
                <span class="value">55</span>
                <span class="material-symbols-outlined">attach_money</span>
              </div>
            </div>
            <google-chart [data]="dataChart"></google-chart>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined">manage_accounts</span>
                <span class="mx-2">{{ 'navigation.dashboard.account.title' | translate }}</span>
              </div>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="h-100 w-100 pt-3 position-relative dashboard-card-content d-flex flex-column align-items-start">
              <p><span class="fw-bold">{{ 'navigation.dashboard.account.company' | translate }}:</span>  ADAFRI</p>
              <p><span class="fw-bold">{{ 'navigation.dashboard.account.title' | translate }}:</span>  Adafri-1664164715006</p>
              <p><span class="fw-bold">{{ 'navigation.dashboard.account.identifier' | translate }}:</span>  qhDOUs2GdDLe86VsklHq</p>
              <app-adf-btn class="funds-btn text-nowrap" 
                text="{{ 'navigation.dashboard.account.recharge_account' | translate }}" icon="paid">
              </app-adf-btn>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined">payments</span>
                <span class="mx-2">{{ 'navigation.dashboard.billing.title' | translate }}</span>
              </div>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content dash-md">
            <div class="d-none">
              <img src="assets/images/empty.svg" alt="adafri">
              <p>{{ 'campaign.no_data' | translate }}</p>
            </div>
            <div class="w-100">
              <p class="description fw-bold text-start m-0 mb-2">{{ 'navigation.dashboard.billing.description' | translate }}</p>
              <div class="tiles w-100">
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">receipt_long</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100 position-relative">
                      <h4 class="m-0 p-0 fw-bold">Le 27 décembre 2022</h4>
                      <span class="price mx-2 my-0 p-0 fw-bold text-uppercase position-absolute">500 $</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/transactions">{{'buttons.more_details'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">receipt_long</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100 position-relative">
                      <h4 class="m-0 p-0 fw-bold">Le 27 décembre 2022</h4>
                      <span class="price mx-2 my-0 p-0 fw-bold text-uppercase position-absolute">500 $</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/transactions">{{'buttons.more_details'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">receipt_long</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100 position-relative">
                      <h4 class="m-0 p-0 fw-bold">Le 27 décembre 2022</h4>
                      <span class="price mx-2 my-0 p-0 fw-bold text-uppercase position-absolute">500 $</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/transactions">{{'buttons.more_details'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">receipt_long</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100 position-relative">
                      <h4 class="m-0 p-0 fw-bold">Le 27 décembre 2022</h4>
                      <span class="price mx-2 my-0 p-0 fw-bold text-uppercase position-absolute">500 $</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/transactions">{{'buttons.more_details'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">receipt_long</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100 position-relative">
                      <h4 class="m-0 p-0 fw-bold">Le 27 décembre 2022</h4>
                      <span class="price mx-2 my-0 p-0 fw-bold text-uppercase position-absolute">500 $</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/transactions">{{'buttons.more_details'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">receipt_long</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100 position-relative">
                      <h4 class="m-0 p-0 fw-bold">Le 27 décembre 2022</h4>
                      <span class="price mx-2 my-0 p-0 fw-bold text-uppercase position-absolute">500 $</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/transactions">{{'buttons.more_details'|translate}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="8" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined">summarize</span>
                <span class="mx-2">{{ 'navigation.dashboard.summary.title' | translate }}</span>
              </div>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content dash-md">
            <div class="d-none">
              <img src="assets/images/empty.svg" alt="adafri">
              <p>{{ 'campaign.no_data' | translate }}</p>
            </div>
            <div class="w-100 text-start">
              <mat-accordion>
                <mat-expansion-panel class="p-2">
                  <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="d-flex">
                      <div class="d-flex align-items-center justify-content-center">
                        <!-- <span class="mx-2" matTooltip="{{'tooltips.online'|translate}}"
                        style="background-color: var(--adf-green-800);
                        width: 15px;height: 15px;border-radius: 50%;"></span> -->
                        <!-- <span class="mx-2" matTooltip="{{'tooltips.offline'|translate}}"
                        style="background-color: var(--adf-red-800);
                        width: 15px;height: 15px;border-radius: 50%;"></span> -->
                        <span class="mx-2 material-symbols-outlined" matTooltip="{{'tooltips.completed'|translate}}"
                        style="color: var(--adf-blue-500);"
                        >update</span>
                      </div>
                      <div class="mx-2 text-nowrap">
                        <h4 class="m-0 p-0 fw-bold"
                        matTooltip="TOUBA CA KANAM OK-5949889272"
                        >TOUBA CA KANAM OK-5949889272</h4>
                        <span class="m-0 p-0" 
                        style="color:var(--adf-gray-600);margin-top: -50px;"
                        matTooltip="Display">
                          Display</span>
                      </div>
                    </div>
                  </mat-panel-title>
                  <mat-panel-description class=" w-50">
                    <div class="row text-center w-100">
                      <div class="col">
                        <div class="h-100">
                          <span class="fw-bold">
                            {{ 'navigation.dashboard.ads_performance.clicks' | translate }}
                          </span><br>
                          <span style="color: black;">4919</span>
                        </div>
                      </div>
                      <div class="col">
                        <div class="h-100">
                          <span class="fw-bold">
                            {{ 'tooltips.costs' | translate }}
                          </span><br>
                          <span style="color: black;">$121.03</span>
                        </div>
                      </div>
                      <div class="col">
                        <div class="h-100">
                          <span class="fw-bold">Impressions</span><br>
                          <span style="color: black;">450841</span>
                        </div>
                      </div>
                    </div>
                  </mat-panel-description>
                  </mat-expansion-panel-header>
                    <div class="expension-container bg-warning">
                      <p>Ceci est le contenu</p>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="p-2">
                  <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="d-flex">
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="mx-2" matTooltip="{{'tooltips.online'|translate}}"
                        style="background-color: var(--adf-green-800);
                        width: 15px;height: 15px;border-radius: 50%;"></span>
                      </div>
                      <div class="mx-2 text-nowrap">
                        <h4 class="m-0 p-0 fw-bold"
                        matTooltip="TOUBA CA KANAM OK-5949889272"
                        >TOUBA CA KANAM OK-5949889272</h4>
                        <span class="m-0 p-0" 
                        style="color:var(--adf-gray-600);margin-top: -50px;"
                        matTooltip="Display">
                          Display</span>
                      </div>
                    </div>
                  </mat-panel-title>
                  <mat-panel-description class=" w-50">
                    <div class="row text-center w-100">
                      <div class="col">
                        <div class="h-100">
                          <span class="fw-bold">
                            {{ 'navigation.dashboard.ads_performance.clicks' | translate }}
                          </span><br>
                          <span style="color: black;">4919</span>
                        </div>
                      </div>
                      <div class="col">
                        <div class="h-100">
                          <span class="fw-bold">
                            {{ 'tooltips.costs' | translate }}
                          </span><br>
                          <span style="color: black;">$121.03</span>
                        </div>
                      </div>
                      <div class="col">
                        <div class="h-100">
                          <span class="fw-bold">Impressions</span><br>
                          <span style="color: black;">450841</span>
                        </div>
                      </div>
                    </div>
                  </mat-panel-description>
                  </mat-expansion-panel-header>
                    <div class="expension-container bg-warning">
                      <p>Ceci est le contenu</p>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="p-2">
                  <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="d-flex">
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="mx-2" matTooltip="{{'tooltips.offline'|translate}}"
                        style="background-color: var(--adf-red-800);
                        width: 15px;height: 15px;border-radius: 50%;"></span>
                      </div>
                      <div class="mx-2 text-nowrap">
                        <h4 class="m-0 p-0 fw-bold"
                        matTooltip="TOUBA CA KANAM OK-5949889272"
                        >TOUBA CA KANAM OK-5949889272</h4>
                        <span class="m-0 p-0" 
                        style="color:var(--adf-gray-600);margin-top: -50px;"
                        matTooltip="Display">
                          Display</span>
                      </div>
                    </div>
                  </mat-panel-title>
                  <mat-panel-description class=" w-50">
                    <div class="row text-center w-100">
                      <div class="col">
                        <div class="h-100">
                          <span class="fw-bold">
                            {{ 'navigation.dashboard.ads_performance.clicks' | translate }}
                          </span><br>
                          <span style="color: black;">4919</span>
                        </div>
                      </div>
                      <div class="col">
                        <div class="h-100">
                          <span class="fw-bold">
                            {{ 'tooltips.costs' | translate }}
                          </span><br>
                          <span style="color: black;">$121.03</span>
                        </div>
                      </div>
                      <div class="col">
                        <div class="h-100">
                          <span class="fw-bold">Impressions</span><br>
                          <span style="color: black;">450841</span>
                        </div>
                      </div>
                    </div>
                  </mat-panel-description>
                  </mat-expansion-panel-header>
                    <div class="expension-container bg-warning">
                      <p>Ceci est le contenu</p>
                    </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <!-- <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined">edit_note</span>
                <span class="mx-2">{{ 'navigation.dashboard.draft.title' | translate }}</span>
              </div>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content dash-md">
            <div class="d-none">
              <img src="assets/images/empty.svg" alt="adafri">
              <p>{{ 'campaign.no_data' | translate }}</p>
            </div>
            <div class="w-100">
              <p class="description fw-bold text-start m-0 mb-2">{{ 'navigation.dashboard.draft.description' | translate }}</p>
              <div class="tiles w-100">
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">pending_actions</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100">
                      <h4 class="m-0 p-0 fw-bold">Campaign-12932384923</h4>
                      <span class="mx-2 my-0 p-0 text-uppercase">Display</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/campaign/list">{{'buttons.reactive_campaign'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">pending_actions</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100">
                      <h4 class="m-0 p-0 fw-bold">Campaign-12932384923</h4>
                      <span class="mx-2 my-0 p-0 text-uppercase">Display</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/campaign/list">{{'buttons.reactive_campaign'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">pending_actions</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100">
                      <h4 class="m-0 p-0 fw-bold">Campaign-12932384923</h4>
                      <span class="mx-2 my-0 p-0 text-uppercase">Display</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/campaign/list">{{'buttons.reactive_campaign'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">pending_actions</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100">
                      <h4 class="m-0 p-0 fw-bold">Campaign-12932384923</h4>
                      <span class="mx-2 my-0 p-0 text-uppercase">Display</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/campaign/list">{{'buttons.reactive_campaign'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">pending_actions</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100">
                      <h4 class="m-0 p-0 fw-bold">Campaign-12932384923</h4>
                      <span class="mx-2 my-0 p-0 text-uppercase">Display</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/campaign/list">{{'buttons.reactive_campaign'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">pending_actions</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100">
                      <h4 class="m-0 p-0 fw-bold">Campaign-12932384923</h4>
                      <span class="mx-2 my-0 p-0 text-uppercase">Display</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/campaign/list">{{'buttons.reactive_campaign'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">pending_actions</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100">
                      <h4 class="m-0 p-0 fw-bold">Campaign-12932384923</h4>
                      <span class="mx-2 my-0 p-0 text-uppercase">Display</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/campaign/list">{{'buttons.reactive_campaign'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">pending_actions</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100">
                      <h4 class="m-0 p-0 fw-bold">Campaign-12932384923</h4>
                      <span class="mx-2 my-0 p-0 text-uppercase">Display</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/campaign/list">{{'buttons.reactive_campaign'|translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="single-tile d-flex w-100">
                  <div class="icon">
                    <span class="material-symbols-outlined">pending_actions</span>
                  </div>
                  <div class="infos w-100 h-100">
                    <div class="mx-2 d-flex justify-content-between w-100">
                      <h4 class="m-0 p-0 fw-bold">Campaign-12932384923</h4>
                      <span class="mx-2 my-0 p-0 text-uppercase">Display</span>
                    </div>
                    <div class="text-start w-100 px-2">
                      <a routerLink="/campaign/list">{{'buttons.reactive_campaign'|translate}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile> -->
    </div>
  </mat-grid-list>
</div>
