<div class="container">
    <h4>{{'recharge.amount_dollar'|translate}}</h4>
    <p>{{'recharge.amount_top_up'|translate}}</p>
    <app-adf-input (newItemEvent)="getValue($event)"
    placeholder="1000$"></app-adf-input>
    <div class="mt-4">
        <app-adf-btn icon="close" text="{{'buttons.proceed_payement'|translate}}" *ngIf="!isNumberValid" [isDisabled]="true" [isFull]="true"></app-adf-btn>
        <app-adf-btn icon="done" text="{{'buttons.proceed_payement'|translate}}" *ngIf="isNumberValid" (click)="makeRecharge()" [isFull]="true"></app-adf-btn>
    </div>
</div>