<mat-toolbar>
    <div class="container-fluid">
        <div class="w-100 d-flex align-items-center justify-content-between h-100">
            <span class="title">
                {{ 'navigation.aside.transactions' | translate }}
            </span>
        </div>
    </div>
</mat-toolbar>
<div class="container big-container pt-3">
    <div class="row">
        <div class="col">
            <mat-card class="bg-success">
                <mat-card-header>
                    titre
                </mat-card-header>
                <mat-card-content>
                    Contenue
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="bg-warning">
                <mat-card-header>
                    titre
                </mat-card-header>
                <mat-card-content>
                    Contenue
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="bg-danger">
                <mat-card-header>
                    titre
                </mat-card-header>
                <mat-card-content>
                    Contenue
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>