:host {
    app-adf-btn {
        width: 100%;
        button{
            width: 100%;
        }
    }
    input {
        width: 100% !important;
        border: none;
        border-bottom: 1.3px solid var(--adf-gray-500);
        height: 44px;
        padding-left: 10px;
        outline: none;
        transition: all ease-in-out .1s;
    }
    input:focus{
        border-bottom: 2px solid var(--adf-blue-600);
    }
}