<app-loading-page *ngIf="isLoading"></app-loading-page>
<app-main-navbar></app-main-navbar>
<div class="toggle-btn" (click)="toggleSidebar(); drawer.toggle()">
  <span class="material-symbols-outlined" *ngIf="!isToggled">chevron_left</span>
  <span class="material-symbols-outlined" *ngIf="isToggled">chevron_right</span>
</div>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="/overview">
          {{ 'navigation.aside.overview' | translate }}
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/transactions/list">
          {{ 'navigation.aside.transactions' | translate }}
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/campaign/list">
          {{ 'navigation.aside.campaigns' | translate }}
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/setting/account-access"> 
          {{ 'navigation.aside.settings' | translate }}
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/files/display" 
        matTooltip="{{ 'navigation.file_manager.title' | translate }}">
          {{ 'navigation.aside.files' | translate }}
        </a><br><br>
        <span class="separator-span">{{ 'navigation.aside.others_products' | translate }}</span>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="active" routerLink="/campaign/ussd">
          {{ 'navigation.aside.survey_ussd' | translate }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="position-relative">
      <router-outlet></router-outlet>
      <app-need-help class="position-fixed"></app-need-help>
    </mat-sidenav-content>
</mat-sidenav-container>
  