<main>
    <div class="container h-100">
        <mat-card class="mt-3">
            <mat-card-content>
                <h3>Nom de la campagne</h3>
                <div class="divider my-2"></div>
                <span>campagne-12Y132823</span>
            </mat-card-content>
        </mat-card>

        <mat-card class="mt-4">
            <mat-card-content>
                <h3>Quelle page souhaitez vous faire la promotion ?</h3>
                <div class="divider my-2"></div>
                <label class="form-label">exemple de Site WEB</label>
                <input type="text" class="form-control mb-3" placeholder="https://monsite.com">
                <div class="website-viewer">
                    
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</main>