<main>
    <div class="container">
        <h2 class="my-3 d-flex align-items-center">
            <span class="material-symbols-outlined">info</span>
            <span class="mx-2">{{'registration.finalize_register'|translate}}</span>
        </h2>
        <mat-card>
            <h4 class="fw-bold">
                {{'registration.invoicing_elements'|translate}}
            </h4>
            <mat-card-content>
                <div class="row g-2">
                    <div class="col col-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'registration.mail_address'|translate}}</mat-label>
                            <input [formControl]="mailControl" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>mail</mat-icon>
                            <mat-hint>{{'registration.enter_email'|translate}}</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col col-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'registration.lastname'|translate}}</mat-label>
                            <input [formControl]="lastNameControl" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>badge</mat-icon>
                            <mat-hint>{{'registration.enter_lastname'|translate}}</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col col-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'registration.firstname'|translate}}</mat-label>
                            <input [formControl]="firstNameControl" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>badge</mat-icon>
                            <mat-hint>{{'registration.enter_firstname'|translate}}</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col col-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'registration.company_name'|translate}}</mat-label>
                            <input [formControl]="companyNameControl" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>corporate_fare</mat-icon>
                            <mat-hint>{{'registration.corp_name'|translate}}</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col col-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'registration.phone_number'|translate}}</mat-label>
                            <input [formControl]="phoneControl" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-hint>{{'registration.enter_phone_number'|translate}}</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col col-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>{{'registration.activity_area'|translate}}</mat-label>
                            <input type="text"
                                   placeholder="{{'registration.pick_one'|translate}}"
                                   aria-label="Number"
                                   matInput
                                   [formControl]="activityAreaControl"
                                   [matAutocomplete]="auto">
                            <mat-icon matSuffix>engineering</mat-icon>
                            <mat-hint>{{'registration.choose_activity_area'|translate}}</mat-hint>
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredBusinessLines | async" [value]="option">
                                {{'registration.business_lines_options.'+option|translate}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col col-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'registration.how_know'|translate}}</mat-label>
                            <mat-select>
                                <mat-option [value]="'mouth_to_ear'">{{'registration.mouth_to_ear'|translate}}</mat-option>
                                <mat-option [value]="'social_media'">{{'registration.social_media'|translate}}</mat-option>
                                <mat-option [value]="'referring_site'">{{'registration.referring_site'|translate}}</mat-option>
                                <mat-option [value]="'from_ads'">{{'registration.from_ads'|translate}}</mat-option>
                                <mat-option [value]="'saloon'">{{'registration.mouth_to_ear'|translate}}</mat-option>
                            </mat-select>
                            <mat-hint>{{'registration.tell_us_how_know'|translate}}</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="mt-4">
            <h4 class="fw-bold">
                {{'registration.advertising_account'|translate}}
            </h4>
            <mat-card-content>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'registration.identifier_of_this_account'|translate}}</mat-label>
                    <input [formControl]="accountNumberControl" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-hint>{{'registration.identifier_desc'|translate}}</mat-hint>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <div class="mt-4 d-flex align-items-center justify-content-end">
            <app-adf-btn (click)="logout()" text="{{'campaign.logout'|translate}}" class="mx-2" [isOutlined]="true"></app-adf-btn>
            <app-adf-btn (click)="confirm()" text="{{'buttons.i_valid'|translate}}" class="mx-2"></app-adf-btn>
        </div>
    </div>
</main>