
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$v4-prototype-primary: mat.define-palette(mat.$indigo-palette);
$v4-prototype-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$v4-prototype-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$v4-prototype-theme: mat.define-light-theme((
  color: (
    primary: $v4-prototype-primary,
    accent: $v4-prototype-accent,
    warn: $v4-prototype-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($v4-prototype-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --adf-white: #fff;
  --adf-black: #000;
  --adf-black-600: #242424;
  --adf-black-700: #222222;
  --adf-black-800: #1E1E1E;
  --adf-black-900: #121212;
  --adf-gray-400: #F1F1F1;
  --adf-gray-500: #e7e7e7;
  --adf-gray-600: rgba(0, 0, 0, 0.54);
  --adf-gray-800: #3c4043;
  --adf-gray-900: rgba(32, 33, 36, 0.86);
  --adf-blue-100: #CAF0F8;
  --adf-blue-200: #ADE8F4;
  --adf-blue-300: #90E0EF;
  --adf-blue-400: #48CAE4;
  --adf-blue-500: #00B4D8; 
  --adf-blue-600: #0096C7; 
  --adf-blue-700: #0077B6; 
  --adf-blue-800: #023E8A; 
  --adf-blue-900: #03045E;
  --adf-red-800: #DC0000;
  --adf-red-900: #850000;
  --adf-green-800: #28A744;
}

.search-dialog-panel{
  .mat-dialog-container{
      padding: 0;
  }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



// NG DEEP
