<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-senegal-tab" data-bs-toggle="tab" data-bs-target="#nav-senegal" type="button" role="tab" aria-controls="nav-senegal" aria-selected="true">
        {{'campaign.billboards.senegal_screens'|translate}}
      </button>
      <button class="nav-link" id="nav-mali-tab" data-bs-toggle="tab" data-bs-target="#nav-mali" type="button" role="tab" aria-controls="nav-mali" aria-selected="false">
        {{'campaign.billboards.mali_screens'|translate}}
      </button>
    </div>
  </nav>
  <p class="py-2 text-center">
    {{'campaign.billboards.preview_description'|translate }}
  </p>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-senegal" role="tabpanel" aria-labelledby="nav-senegal-tab" tabindex="0">
        <div class="my-3 row row-cols-2 row-cols-md-3 row-cols-xxl-4">
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/sn/led-grand-theatre.jpg" target="_blank" rel="noopener noreferrer">
                            <img src="../../../assets/images/billboards/sn/led-grand-theatre.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Grand Théâtre</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p> <span class="font-weight-bold"> 1000000</span> {{'campaign.billboards.cars_per_days'|translate}}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/sn/led-independance.jpg" target="_blank" rel="noopener noreferrer">
                            <img src="../../../assets/images/billboards/sn/led-independance.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Indépendance</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p> <span class="font-weight-bold"> 900000</span> {{'campaign.billboards.cars_per_days'|translate}}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/sn/led-horizon.jpg" target="_blank" rel="noopener noreferrer">
                            <img src="../../../assets/images/billboards/sn/led-horizon.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Horizon</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p> <span class="font-weight-bold"> 300000</span> {{'campaign.billboards.cars_per_days'|translate}}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/sn/led-relais.jpg" target="_blank" rel="noopener noreferrer">
                            <img src="../../../assets/images/billboards/sn/led-relais.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Relais</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p> <span class="font-weight-bold"> 30000</span> {{'campaign.billboards.cars_per_days'|translate}}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/sn/led-mermoz.jpg" target="_blank" rel="noopener noreferrer">
                            <img src="../../../assets/images/billboards/sn/led-mermoz.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Auchan Mermoz</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p> <span class="font-weight-bold"> 3000</span> {{'campaign.billboards.cars_per_days'|translate}}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/sn/led-almadies.jpg" target="_blank" rel="noopener noreferrer">
                            <img src="../../../assets/images/billboards/sn/led-almadies.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Almadies</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p> <span class="font-weight-bold"> 17000</span> {{'campaign.billboards.cars_per_days'|translate}}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/sn/led-patte-doie.jpg" target="_blank">
                            <img src="../../../assets/images/billboards/sn/led-patte-doie.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Patte d’Oie</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p> <span class="font-weight-bold"> 20000</span> {{'campaign.billboards.cars_per_days'|translate}}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-mali" role="tabpanel" aria-labelledby="nav-mali-tab" tabindex="0">
        <div class="my-3 row row-cols-2 row-cols-md-3 row-cols-xxl-4">
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/ml/led-hippodrome.jpg" target="_blank">
                            <img src="../../../assets/images/billboards/ml/led-hippodrome.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Hippodrome</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p>Près du marché</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/ml/led-castors.jpg" target="_blank">
                            <img src="../../../assets/images/billboards/ml/led-castors.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Castors</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p>Carrefour d'universités et de lycées</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/ml/led-cite-unicef.jpg" target="_blank">
                            <img src="../../../assets/images/billboards/ml/led-cite-unicef.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Cité UNICEF</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p>A proximité de l'auto gar, entrée UNICEF</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/ml/led-tour-dAfrique.jpg" target="_blank">
                            <img src="../../../assets/images/billboards/ml/led-tour-dAfrique.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Tour d’Afrique</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p>Population dynamique exposée</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/ml/led-place-can.jpg" target="_blank">
                            <img src="../../../assets/images/billboards/ml/led-place-can.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Place CAN</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p>Emplacement célèbre</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/ml/led-koulikoro.jpg" target="_blank">
                            <img src="../../../assets/images/billboards/ml/led-koulikoro.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Route Koulikoro</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p>Zone d'entrée et sortie du 3eme pont</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/ml/led-oumou-sangare.jpg" target="_blank">
                            <img src="../../../assets/images/billboards/ml/led-oumou-sangare.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Oumou Sangaré</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p>A proximité du marche de Kalaban coura</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/ml/led-grand-marche.jpg" target="_blank">
                            <img src="../../../assets/images/billboards/ml/led-grand-marche.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Grand marché</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p>Poumon économique de Bamako</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/ml/led-ecobank.jpg" target="_blank">
                            <img src="../../../assets/images/billboards/ml/led-ecobank.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Ecobank-Place de l’ind...</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p>En face du monument de l'indépendance</p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="screen">
                    <div class="screen-top">
                        <a href="../../../assets/images/billboards/ml/led-quartier-mali.jpg" target="_blank">
                            <img src="../../../assets/images/billboards/ml/led-quartier-mali.jpg" alt="billboard">
                        </a>
                    </div>
                    <div class="screen-bottom">
                        <div class="location d-flex mt-2">
                            <span class="icon material-symbols-outlined">location_on</span>
                            <span>Quartier Mali</span>
                        </div>
                        <div class="description d-flex">
                            <span class="icon material-symbols-outlined">description</span>
                            <p>En face de deux feux tricolores</p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>